body {
    line-height: 1.5;
}

body * {
    margin: 0;
}

p, li, h1, h2, h3, h4 {
    // Help prevent overflow of long words/names/URLs
    overflow-wrap: break-word;
    // Optional, not supported for all languages
    hyphens: auto;
}

// Ratio-type stuff

$type-ratios: (
  "minorSecond": 1.067,
  "majorSecond": 1.125,
  "minorThird": 1.2,
  "majorThird": 1.25,
  "perfectFourth": 1.333,
  "augmentedFourth": 1.414,
  "perfectFifth": 1.5,
  "goldenRatio": 1.618,
);

$type-base-size: 1rem;
$type-size-ratio: 1.333;
$type-levels: 4, 3, 2, 1;
$level-size: $type-base-size;

@each $level in $type-levels {
    // 1. 💻 write ratio-based styles for h1 - h4
    // 2. 💻 write fluid typography styles for h1 - h4

}
